<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>{{site.title}} - Archive</title>
<link rel="stylesheet" href="{{site.root}}static/style.css" />
<link rel="stylesheet" href="{{site.root}}static/syntax.css" />
</head>
<body>
{% include "header.html" %}
{% include "navbar.html" %}
<div id="main">
<ul class="postindex">
  {% for post in site.posts %}
    <li>
        <span class="indexdate">{{post.date | date('Y-m-d')}}</span>
        <span class="indextitle"><a href="{{post.url}}">{{post.title}}</a><span>
    </li>
  {% endfor %}
</ul>
</div>
{% include "footer.html" %}
</body>
</html>
