<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<title>{{site.title}}{% if site.subtitle %} - {{site.subtitle}}{% endif %}</title>
<link rel="stylesheet" href="{{site.root}}static/style.css" />
<link rel="stylesheet" href="{{site.root}}static/syntax.css" />
{% if site.latex %}{% include "mathjax.html" %}{% endif %}
</head>
<body>
{% include "header.html" %}
{% include "navbar.html" %}
<div id="main">
  {% for article in articles %}
    <div class="article">
        <div class="ptitle"><a href="{{article.url}}">{{article.title}}</a></div>
        <div class="pmain">{{article.excerpt}}</div>
        <div class="pmore"><a href="{{article.url}}">Read More</a></div>
        <div class="pfoot">
            <span class="pdate">Date: {% if article.date %}{{article.date | date('Y-m-d H:i')}}{% endif %}</span>
        </div>
    </div>
  {% endfor %}
    <div class="pagination">
      {% if paginator.previous %}
        <span class="newer"><a href="{{paginator.urls[paginator.previous]}}" class="previous">&lt;&lt; Newer Posts</a></span>
      {% endif %}
      {% if paginator.next %}
        <span class="older"><a href="{{paginator.urls[paginator.next]}}" class="next">Older Posts &gt;&gt;</a></span>
      {% endif %}
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
