<div id="aside">
<h4>Installing</h4>
<ul>
    <li><a href="{{site.root}}">Introduction</a></li>
    <li><a href="{{site.root}}guide.html">Quick Guide</a></li>
    <li><a href="{{site.root}}structure.html">Directory Structure</a></li>
    <li><a href="{{site.root}}configuration.html">Configuration</a></li>
    <li><a href="{{site.root}}permalink.html">Permalink</a></li>
</ul>
<h4>Writing</h4>
<ul>
    <li><a href="{{site.root}}markdown.html">Markdown Syntax</a></li>
    <li><a href="{{site.root}}highlight.html">Code Highlighting</a></li>
    <li><a href="{{site.root}}latex.html">LaTeX Formulas</a></li>
</ul>
<h4>Customizing</h4>
<ul>
    <li><a href="{{site.root}}variable.html">Template Variables</a></li>
    <li><a href="{{site.root}}pagination.html">Pagination</a></li>
    <li><a href="{{site.root}}plugin.html">Make Plugins</a></li>
</ul>
</div>