<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>The Jekyde Blog</title>
<link rel="stylesheet" href="/jekyde/static/style.css" />
<link rel="stylesheet" href="/jekyde/static/syntax.css" />
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['\\[','\\]'], ['$$','$$']],
            processEnvironments: false},
  'HTML-CSS': { imageFont: null }
});
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<div id="header">
    <h1><a href="/jekyde/">The Jekyde Blog</a></h1>
</div>
<div id="navbar">
    <ul>
        <li><a href="/jekyde/">Home</a></li>
        <li><a href="/jekyde/archive">Archive</a></li>
      
        <li><a href="/jekyde/page/guide">Guide</a></li>
      
        <li><a href="/jekyde/page/latex">LaTeX</a></li>
      
        <li><a href="/jekyde/page/about">About</a></li>
      
    </ul>
</div>
<div id="main">
  
    <div class="article">
        <div class="ptitle"><a href="/jekyde/post/2013/05/03/pagination.html">Pagination</a></div>
        <div class="pmain">
          <p>Just add the following to your layout files:</p>
<pre><code class="lang-html">{% for article in articles %}
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"article"</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{article.url}}"</span>&gt;</span>{{article.title}}<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span>{{article.content}}<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
    <span class="tag">&lt;<span class="title">div</span>&gt;</span>{% if article.date %}{{article.date | date('Y-m-d H:i')}}{% endif %}<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
{% endfor %}

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"pagination"</span>&gt;</span>
  {% if paginator.previous_page %}
    <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"newer"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{paginator.previous_url}}"</span> <span class="attribute">class</span>=<span class="value">"previous"</span>&gt;</span>Newer Posts<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  {% endif %}
  {% if paginator.next_page %}
    <span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">"older"</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"{{paginator.next_url}}"</span> <span class="attribute">class</span>=<span class="value">"next"</span>&gt;</span>Older Posts<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
  {% endif %}
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></code></pre>
<p>And you are done.</p>

        </div>
        <div class="pdate">2013-05-03 11:22</div>
    </div>
  
    <div class="article">
        <div class="ptitle"><a href="/jekyde/post/2013/04/30/configuration.html">Configuration</a></div>
        <div class="pmain">
          <p>You may change configurations by editing <code>config.yml</code> file in your template folder. The following file shows the default settings:</p>
<pre><code>## Website
title:              Simple Blog
subtitle:           A static blog generator
host:               http://localhost
baseurl:            /

## Output
index_dir:          index
archive_dir:        archive
category_dir:       category
tag_dir:            tag
post_link:          post/:year/:month/:day/:name.html
page_link:          page/:name
paginate:           4

## Engine
latex:              false

## Server
port:               4040</code></pre>

        </div>
        <div class="pdate">2013-04-30 20:11</div>
    </div>
  
    <div class="article">
        <div class="ptitle"><a href="/jekyde/post/2013/04/27/markdown-tables.html">Markdown Tables</a></div>
        <div class="pmain">
          <p>Jekyde use <code>marked</code> as markdown parser. You can create tables by the following ways:</p>
<pre><code>| Heading 1 | Heading 2
| --------- | ---------
| Cell 1    | Cell 2
| Cell 3    | Cell 4

| Header 1 | Header 2 | Header 3 | Header 4 |
| :------: | -------: | :------- | -------- |
| Cell 1   | Cell 2   | Cell 3   | Cell 4   |
| Cell 5   | Cell 6   | Cell 7   | Cell 8   |

Header 1 | Header 2
-------- | --------
Cell 1   | Cell 2
Cell 3   | Cell 4

Header 1|Header 2|Header 3|Header 4
:-------|:------:|-------:|--------
Cell 1  |Cell 2  |Cell 3  |Cell 4
Cell 5  |Cell 6  |Cell 7  |Cell 8</code></pre>

        </div>
        <div class="pdate">2013-04-27 22:55</div>
    </div>
  
    <div class="pagination">
      
        <span class="newer"><a href="/jekyde/index/" class="previous">&lt;&lt; Newer Posts</a></span>
      
 
        <span class="older"><a href="/jekyde/index/3/" class="next">Older Posts &gt;&gt;</a></span>
      
    </div>
</div>
<div id="footer">
    <span>site generated by <a href="https://github.com/zohooo/jekyde">jekyde</a></span>
    <span>|</span>
    <span>theme designed by <a href="https://github.com/zohooo">zohooo</a>
</div>
</body>
</html>