<div id="aside">
<h4>Website</h4>
<ul>
    <li><a href="{{site.baseurl}}">Introduction</a></li>
    <li><a href="{{site.baseurl}}guide.html">Quick Guide</a></li>
    <li><a href="{{site.baseurl}}structure.html">Directory Structure</a></li>
    <li><a href="{{site.baseurl}}configuration.html">Configuration</a></li>
    <li><a href="{{site.baseurl}}permalink.html">Permalink</a></li>
</ul>
<h4>Content</h4>
<ul>
    <li><a href="{{site.baseurl}}markdown.html">Markdown Syntax</a></li>
    <li><a href="{{site.baseurl}}highlight.html">Code Highlighting</a></li>
    <li><a href="{{site.baseurl}}latex.html">LaTeX Formulas</a></li>
</ul>
<h4>Template</h4>
<ul>
    <li><a href="{{site.baseurl}}variable.html">Template Variables</a></li>
    <li><a href="{{site.baseurl}}pagination.html">Pagination</a></li>
</ul>
</div>