
html {
    background: gray;
}

body {
    width: 800px;
    margin: 20px auto;
    background: white;
    border: 1px #C1C1C1 solid;
    border-radius: 2px;
    padding: 30px;
}

#header {
    border: 1px solid #9b3034;
    padding: 0 24px;
    background: #b12930;
}

#header h1 {
    font-size: 2em;
    line-height: 2em;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

#header a, #header a:visited {
    color: white;
}

#navbar {
    margin: 10px 0;
    padding: 0 24px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-family: arial, sans-serif;
    background: black;
    color: #eee;
}

#navbar ul {
    display: inline-block;
    font-size: 1em;
    line-height: 2em;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    list-style: none;
    float: left;
    margin: 0 30px 0 0;
        color: #eee;
}

#navbar a, #navbar a:visited {
    color: #eee;
}

#navbar a:hover {
    border-bottom: 1px solid #e60900;
}

.article {
    margin: 20px 0;
    border: 2px solid gainsboro;
    border-radius: 2px;
}

.ptitle {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    background-color: whitesmoke;
    border-bottom: 1px solid gainsboro;
    padding: 5px 24px;
}

.ptitle a, .ptitle a:visited {
    color: #b12930;
}

.ptitle a:hover {
    color: #e60900;
}

.pdate {
    margin-top: 0.5em;
    font-size: small;
    color: #777;
    background-color: whitesmoke;
    border-top: 1px solid gainsboro;
    padding: 3px 24px;
}

.pmain {
    padding: 5px 24px;
}

.pmain h1 {
    font-size: 20px;
}

.pmain h2 {
    font-size: 19px;
}

.pmain h3 {
    font-size: 18px;
}

.pmain h4 {
    font-size: 17px;
}

.pmain h5{
    font-size: 16px;
}

.pmain h6 {
    font-size: 15px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #e60900;
}

.postindex {
    padding: 0 24px;
    font-size: 1.2em;
    line-height: 1.6em;
}

.postindex li {
    list-style: none;
}

.indexdate {
    margin-right: 20px;
    color: #999;
}

.indextitle  a {
    color: black;
}

.indextitle a:hover {
    color: #e60900;
}

.pagination {
    margin: 10px 2px 40px 2px;
}

.pagination .newer {
    float: left;
}

.pagination .older {
    float: right;
}

#footer {
    text-align: center;
    font-size: small;
    color: #777;
    margin-top: 60px;
    padding-top: 14px;
    border-top: 1px solid #e8e8e8;
}

pre {
    background-color: #f8f8f8;
    overflow: auto;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

code {
    background-color: #f8f8f8;
    padding: 0;
    margin: 0 2px;
    /*
    border: 1px solid #eaeaea;
    border-radius: 2px;
    */
}

table {
    border-collapse: collapse;
    margin: 10px 0;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
    text-align: left;
}

.gist table {
    width: 100%;
    margin: 0;
}
