<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{site.title}}</title>
<link rel="stylesheet" href="{{site.baseurl}}static/style.css" />
<link rel="stylesheet" href="{{site.baseurl}}static/syntax.css" />
{% if site.latex %}{% include "mathjax.html" %}{% endif %}
</head>
<body>
{% include "header.html" %}
{% include "navbar.html" %}
<div id="main">
  {% for post in paginator.posts %}
    <div class="article">
        <div class="ptitle"><a href="{{post.url}}">{{post.title}}</a></div>
        <div class="pmain">
          {{post.content}}
        </div>
        <div class="pdate">{% if post.date %}{{post.date | date('Y-m-d H:i')}}{% endif %}</div>
    </div>
  {% endfor %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <span class="newer"><a href="{{paginator.previous_url}}" class="previous">&lt;&lt; Newer Posts</a></span>
      {% endif %}
      {% if paginator.next_page %}
        <span class="older"><a href="{{paginator.next_url}}" class="next">Older Posts &gt;&gt;</a></span>
      {% endif %}
    </div>
</div>
{% include "footer.html" %}
</body>
</html>
