<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div id="header">
      <h1> <a href="/">{{ site.title }}</a></h1>
    </div>
    <div id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
          {% for page in site.pages %}
            <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div id="content">
      <div class="ptitle">{{ post.title }}</div>
      <div class="pdate">{% if post.date %} {{ post.date | date('Y-m-d H:i') }} {% endif %}</div>
      <div class="pmain">
      {{ content }}
      </div>
    </div>
    <div class="postnav">
      {% if post.next %}
        <span class="next"><a href="{{ post.next.url }}">&lt;&lt; {{ post.next.title }}</a></span>
      {% endif %}
      {% if post.previous %}
        <span class="prev"><a href="{{ post.previous.url }}">{{ post.previous.title }} &gt;&gt;</a></span>
      {% endif %}
    </div>
  </body>
</html>
